<div class="app-container">
  <div class="top-bar">  
    <input
      type="text"
      class="form-control search-input"
      placeholder="Search a word"
      [(ngModel)]="word"
      (keyup.enter)="searchWord()"
    />
  
    <button (click)="searchWord()" class="search-btn">
      <i class="fa fa-search"></i>
    </button>
  </div>
  

  <div *ngIf="wordDetails" class="word-section">
    <h1 class="word">{{ wordDetails[0].word }}</h1>
    <div class="word-icons">
      <i class="fa fa-heart"></i>
    </div>
    <p class="word-pronunciation">
      {{ wordDetails[0].phonetics[0]?.text }}
      <audio *ngIf="wordDetails[0].phonetics[0]?.audio" controls [src]="wordDetails[0].phonetics[0]?.audio"></audio>
    </p>
  </div>

  <div *ngIf="wordDetails" class="definition-section">
  <div *ngFor="let meaning of wordDetails[0].meanings">
    <p>Synonyms: 
      <span *ngFor="let synonym of wordDetails[0].meanings[0].synonyms; let isLast = last">
        <button class="link-btn" (click)="searchWord(synonym)">{{ synonym }}</button>
        <span *ngIf="!isLast">, </span>
      </span>
    </p>
    <p><strong>{{ meaning.partOfSpeech }}</strong></p>
    <ul>
      <li *ngFor="let definition of meaning.definitions">
        {{ definition.definition }}
      </li>
    </ul>
  </div>
</div>

  <div *ngIf="!wordDetails">
    <p>FrontendProject</p>
  </div>

  <button class="floating-btn">
    <i class="fa fa-home"></i>
  </button>
</div>
