<div class="app-container">
  <div class="top-bar">
    <button class="menu-icon">
      <i class="fa fa-bars"></i>
    </button>
  
    <input
      type="text"
      class="form-control search-input"
      placeholder="Search a word"
      [(ngModel)]="word"
      (keyup.enter)="searchWord()"
    />
  
    <button class="mic-icon">
      <i class="fa fa-microphone"></i>
    </button>
  </div>
  
  <button (click)="searchWord()">Search</button>
  

  <div *ngIf="wordDetails" class="word-section">
    <h1 class="word">{{ wordDetails[0].word }}</h1>
    <div class="word-icons">
      <i class="fa fa-heart"></i>
      <i class="fa fa-share-alt"></i>
    </div>
    <p class="word-pronunciation">
      {{ wordDetails[0].phonetics[0]?.text }}
      <audio *ngIf="wordDetails[0].phonetics[0]?.audio" controls [src]="wordDetails[0].phonetics[0]?.audio"></audio>
    </p>
    <p><strong>Synonyms:</strong> {{ wordDetails[0].meanings[0].synonyms.join(', ') }}</p>
  </div>

  <div *ngFor="let meaning of wordDetails[0].meanings" class="definition-section">
    <p><strong>{{ meaning.partOfSpeech }}</strong></p>
    <ul>
      <li *ngFor="let definition of meaning.definitions">
        {{ definition.definition }}
      </li>
    </ul>
  </div>

  <button class="floating-btn">
    <i class="fa fa-home"></i>
  </button>
</div>
